#selectbuttonswrapper {
  margin-bottom : .3em;
  min-height: 2em;
}

#selectbuttonswrapper button.author-select {
  border: 3px solid #666;
  border-radius: 5px;
  border-color: rgba(180,180,180,.6);
}

#textswrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow:auto;
  height: 90%;
  min-height: 60px;
  bottom: 10px;
}
#textswrapper .view-comparator-book {
  margin: 0 1em 0 0;
  border: 2px black solid;
  border-top: 0px;
  border-radius: 2px;
  flex: 0 1 100%;
  background: rgb(227,236,207);
}
#textswrapper .view-header {
  position: sticky;
  top:0px;
}
#textswrapper .views-row {
  padding: 1em .6em 2em;
  align-self: flex-start;
  background-color: white;
  border-radius: 2px;
  border: 4px solid #cccccc;
  margin: 5px 0;
}

#textswrapper  .vc-book-header {
  line-height: 3em;
  height: 3em;
  height: 3em;
  font-size: 1.2vw;
  top:0;
  background: rgb(227,236,207);
  background: linear-gradient(120deg, rgba(227,236,207,0.968207351299895) 0%, rgba(207,203,157,1) 100%);
  border-top:2px solid black;
  text-align: left;
}
#textswrapper  .vc-book-header .translator-name {
  margin-left: .4em;
}
#textswrapper comparator-text {
  white-space: pre-line;
}
#textswrapper .views-field-title {
  font-weight: bold;
}
#textswrapper  .vc-book-header.affix {
  border-bottom: 2px solid #cccccc;
}
#tilethrobber {
  height: 30px;
  width: 30px;
  background: transparent url(../images/bookicon.svg) center center;
  animation: spinning 3s;
  display: inline-block;
  vertical-align:bottom;
}

@keyframes spinning {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.fullscreen-block {
  position: fixed !important;
  overflow: hidden;
  top:5%;
  left: 5%;
  width: 95%;
  height: 90vh;
  background-color: white;
  z-index:40;
  border:10px solid rgba(195,195,195,.2);
  box-shadow: 5px 5px 12px #ccc;
}

button.fullscreen, button.undofullscreen {
  float: right;
  margin-right: 1em;
}