<div id="selectbuttonswrapper">
    <button class="btn btn-secondary fullscreen" data-target=".block-comparator-block">Make fullscreen</button>
    <button class="btn btn-secondary undofullscreen hidden" data-target=".block-comparator-block">Clear fullscreen</button>
{%  for author in authors %}
    <button class="btn btn-default author-select" value="{{ author }}">{{ author }}</button>
{% endfor %}
</div>

<div id="textswrapper">

</div>

